@model portfolio.Models.Member

@{
    ViewData["Title"] = "Details";
    Layout = "_Admin";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.photo)
        </dt>
        <dd class="col-sm-10">
            <img src="/members_photo/@Model.photo" width="50" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.cv)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-sm btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-sm btn-secondary">Back to List</a>
</div>
