@model IEnumerable<portfolio.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "_Admin";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.imgs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
                <td>
                    <img src="/project_photo/@item.photo" width="50"/>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-info">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
